src/main/src/org/compass/core/compass-core-mapping.dtd

<!-- Compass Mapping DTD.

<!DOCTYPE compass-core-mapping PUBLIC 
    "-//Compass/Compass Core Mapping DTD 1.0//EN"
    "http://www.opensymphony.com/compass/dtd/compass-core-mapping.dtd">
-->

<!ELEMENT compass-core-mapping (
    (contract|class|resource|resource-contract|xml-object)*
)>
    <!ATTLIST compass-core-mapping package CDATA #IMPLIED>

<!ELEMENT xml-object (
    sub-index-hash?,
    xml-id*,
    (xml-analyzer?),
    (xml-boost?),
    (xml-property)*,
    (xml-content?)
)>
    <!ATTLIST xml-object alias CDATA #REQUIRED>
    <!ATTLIST xml-object sub-index CDATA #IMPLIED>
    <!ATTLIST xml-object xpath CDATA #IMPLIED>
    <!ATTLIST xml-object analyzer CDATA #IMPLIED>
    <!ATTLIST xml-object all (true|false) "true">
    <!ATTLIST xml-object all-metadata CDATA #IMPLIED>
    <!ATTLIST xml-object all-term-vector (no|yes|positions|offsets|positions_offsets)  #IMPLIED>
    <!ATTLIST xml-object all-analyzer CDATA #IMPLIED>
    <!ATTLIST xml-object all-omit-norms (true|false) "false">
    <!ATTLIST xml-object boost CDATA #IMPLIED>

<!ELEMENT xml-id EMPTY
>
    <!ATTLIST xml-id name CDATA #REQUIRED>
    <!ATTLIST xml-id xpath CDATA #REQUIRED>
    <!ATTLIST xml-id analyzer CDATA #IMPLIED>
    <!ATTLIST xml-id converter CDATA #IMPLIED>
    <!ATTLIST xml-id value-converter CDATA #IMPLIED>
    <!ATTLIST xml-id omit-norms (true|false) "true">

<!ELEMENT xml-property EMPTY
>
    <!ATTLIST xml-property xpath CDATA #REQUIRED>
    <!ATTLIST xml-property name CDATA #IMPLIED>
    <!ATTLIST xml-property store (no|yes|compress) "yes">
    <!ATTLIST xml-property index (no|tokenized|un_tokenized) "tokenized">
    <!ATTLIST xml-property term-vector (no|yes|positions|offsets|positions_offsets) "no">
    <!ATTLIST xml-property omit-norms (true|false) "false">
    <!ATTLIST xml-property reverse (no|reader|string) "no">
    <!ATTLIST xml-property analyzer CDATA #IMPLIED>
    <!ATTLIST xml-property override (true|false) "true">
    <!ATTLIST xml-property exclude-from-all (true|false) #IMPLIED>
    <!ATTLIST xml-property converter CDATA #IMPLIED>
    <!ATTLIST xml-property value-converter CDATA #IMPLIED>
    <!ATTLIST xml-property boost CDATA #IMPLIED>

<!ELEMENT xml-content EMPTY
>
    <!ATTLIST xml-content name CDATA #REQUIRED>
    <!ATTLIST xml-content store (yes|compress) "yes">
    <!ATTLIST xml-content converter CDATA #IMPLIED>

<!ELEMENT xml-analyzer (
    #PCDATA
)>
    <!ATTLIST xml-analyzer name CDATA #REQUIRED>
    <!ATTLIST xml-analyzer xpath CDATA #REQUIRED>
    <!ATTLIST xml-analyzer null-analyzer CDATA #IMPLIED>
    <!ATTLIST xml-analyzer converter CDATA #IMPLIED>

<!ELEMENT xml-boost (
    #PCDATA
)>
    <!ATTLIST xml-boost name CDATA #REQUIRED>
    <!ATTLIST xml-boost xpath CDATA #REQUIRED>
    <!ATTLIST xml-boost default CDATA #IMPLIED>
    <!ATTLIST xml-boost converter CDATA #IMPLIED>

<!ELEMENT resource-contract (
    resource-id*,
    (resource-analyzer?),
    (resource-boost?),
    (resource-property)*
)>
    <!ATTLIST resource-contract alias CDATA #REQUIRED>
    <!ATTLIST resource-contract extends CDATA #IMPLIED>
    <!ATTLIST resource-contract analyzer CDATA #IMPLIED>

<!ELEMENT resource ( 
    sub-index-hash?,
    resource-id*,
    (resource-analyzer?),
    (resource-boost?),
    (resource-property)*
)>
    <!ATTLIST resource alias CDATA #REQUIRED>
    <!ATTLIST resource sub-index CDATA #IMPLIED>
    <!ATTLIST resource extends CDATA #IMPLIED>
    <!ATTLIST resource analyzer CDATA #IMPLIED>
    <!ATTLIST resource all (true|false) "true">
    <!ATTLIST resource all-metadata CDATA #IMPLIED>
    <!ATTLIST resource all-term-vector (no|yes|positions|offsets|positions_offsets)  #IMPLIED>
    <!ATTLIST resource all-analyzer CDATA #IMPLIED>
    <!ATTLIST resource all-omit-norms (true|false) "false">
    <!ATTLIST resource boost CDATA #IMPLIED>

<!ELEMENT resource-id EMPTY
>
    <!ATTLIST resource-id name CDATA #REQUIRED>
    <!ATTLIST resource-id analyzer CDATA #IMPLIED>
    <!ATTLIST resource-id converter CDATA #IMPLIED>
    <!ATTLIST resource-id exclude-from-all (true|false) #IMPLIED>
    <!ATTLIST resource-id boost CDATA #IMPLIED>
    <!ATTLIST resource-id omit-norms (true|false) "true">

<!ELEMENT resource-property EMPTY
>
    <!ATTLIST resource-property name CDATA #REQUIRED>
    <!ATTLIST resource-property store (no|yes|compress) "yes">
    <!ATTLIST resource-property index (no|tokenized|un_tokenized) "tokenized">
    <!ATTLIST resource-property term-vector (no|yes|positions|offsets|positions_offsets) "no">
    <!ATTLIST resource-property omit-norms (true|false) "false">
    <!ATTLIST resource-property reverse (no|reader|string) "no">
    <!ATTLIST resource-property analyzer CDATA #IMPLIED>
    <!ATTLIST resource-property override (true|false) "true">
    <!ATTLIST resource-property exclude-from-all (true|false) #IMPLIED>
    <!ATTLIST resource-property converter CDATA #IMPLIED>
    <!ATTLIST resource-property boost CDATA #IMPLIED>

<!ELEMENT resource-analyzer (
    #PCDATA
)>
    <!ATTLIST resource-analyzer name CDATA #REQUIRED>
    <!ATTLIST resource-analyzer null-analyzer CDATA #IMPLIED>
    <!ATTLIST resource-analyzer converter CDATA #IMPLIED>

<!ELEMENT resource-boost (
    #PCDATA
)>
    <!ATTLIST resource-boost name CDATA #REQUIRED>
    <!ATTLIST resource-boost default CDATA #IMPLIED>
    <!ATTLIST resource-boost converter CDATA #IMPLIED>

<!ELEMENT contract ( 
    id*,
    parent?,
    (analyzer?),
    (boost?),
    (property|dynamic-meta-data|component|reference|constant)*
)>
    <!ATTLIST contract alias CDATA #REQUIRED>
    <!ATTLIST contract extends CDATA #IMPLIED>
    <!ATTLIST contract analyzer CDATA #IMPLIED>

<!--
    Marks a class as searchable.

    A searchable class is assoiated with an alias, and allows to perform full text search on it's
    mapped properties/fields.
-->
<!ELEMENT class (
    sub-index-hash?,
    id*,
    parent?,
    (analyzer?),
    (boost?),
    (property|dynamic-meta-data|component|reference|constant)*
)>
    <!--
        The fully qualified class name (or relative if the package is declared in compass-core-mapping).
    -->
    <!ATTLIST class name CDATA #REQUIRED>
    <!--
        The alias of the Resource that will be mapped to the class.

        The alias can be used to reference the class when performing search operations,
        or for other mappings to extend it.
    -->
    <!ATTLIST class alias CDATA #REQUIRED>
    <!--
        The sub index the searchable class will be saved to. A sub index is a fully functional index.

        When joining several searchable classes into the same index, the search will be much faster,
        but updates perform locks on the sub index level, so it might slow it down.

        Defaults to the class alias value.
    -->
    <!ATTLIST class sub-index CDATA #IMPLIED>
    <!--
        The name of the analyzer that will be used to analyze TOKENIZED properties.

        Defaults to the default analyzer which is one of the internal analyzers that comes with Compass.

        Note, that when using the analyzer mapping (a child mapping of class mapping)
        (for a property value that controls the analyzer), the analyzer attribute will have no effects.
    -->
    <!ATTLIST class analyzer CDATA #IMPLIED>
    <!--
        A comma seperated list of aliases to extend. Can extend a class mapping or a contract mapping.
        Note that can extend more than one class/contract.
    -->
    <!ATTLIST class extends CDATA #IMPLIED>
    <!--
        Specifies if the class is a "root" class or not.

        You should define the searchable class with false if it only acts as mapping
        definitions for a component mapping.
    -->
    <!ATTLIST class root (true|false) "true">
    <!--
        Specifies if the class will be enabled to support polymorphism.

        This is the less prefable way to map an inheritance tree, since the extends attribute
        can be used to statically extend base classes or contracts.

        Defaults to false.
    -->
    <!ATTLIST class poly (true|false) "false">
    <!--
        Specified the class name that will be used to instantiate if poly is set to true.
        If not set, the actual class will be persisted to the index.
    -->
    <!ATTLIST class poly-class CDATA #IMPLIED>
    <!--
        Controls if the searchable class will create it's own internal "all" meta-data.
        The "all" meta-data holds searchable information of all the class searchable content.

        Defaults to true.
    -->
    <!ATTLIST class all (true|false) "true">
    <!--
        The name of the all meta-data.

        Defaults to configuration setting compass.property.all .
    -->
    <!ATTLIST class all-metadata CDATA #IMPLIED>
    <!--
        The term vector value of the all meta-data.

        Defaults to configuration setting compass.property.all.termVector .
    -->
    <!ATTLIST class all-term-vector (no|yes|positions|offsets|positions_offsets)  #IMPLIED>
    <!--
        The name of the analyzer that will be used to analyze the all meta-data.

        Defaults to configuration setting compass.engine.all.analyzer, which in turn,
        defaults to the default analyzer.
    -->
    <!ATTLIST class all-analyzer CDATA #IMPLIED>
    <!ATTLIST class all-omit-norms (true|false) "false">
    <!--
        The global converter lookup name registered with the configuration. Responsible for converting
        the ClassMapping definition.

        Defaults to compass internal ClassMappingConverter.
    -->
    <!ATTLIST class converter CDATA #IMPLIED>
    <!--
        Specifies the boost level for the class.

        Defaults to 1.0.
    -->
    <!ATTLIST class boost CDATA #IMPLIED>
    <!--
        Controls if the class mapping will support the ability to un-marshall it from the search engine.

        Defaults to true.
    -->
    <!ATTLIST class support-unmarshall (true|false) #IMPLIED>

<!ELEMENT id (
    meta-data*
)>
    <!ATTLIST id name CDATA #REQUIRED>
    <!ATTLIST id class CDATA #IMPLIED>
    <!ATTLIST id analyzer CDATA #IMPLIED>
    <!ATTLIST id accessor CDATA "property">
    <!ATTLIST id managed-id (auto|true|false) "auto">
    <!ATTLIST id managed-id-converter CDATA #IMPLIED>
    <!ATTLIST id exclude-from-all (true|false) "false">
    <!ATTLIST id converter CDATA #IMPLIED>
    <!ATTLIST id boost CDATA #IMPLIED>

<!ELEMENT property (
    meta-data*
)>
    <!ATTLIST property name CDATA #REQUIRED>
    <!ATTLIST property class CDATA #IMPLIED>
    <!ATTLIST property analyzer CDATA #IMPLIED>
    <!ATTLIST property override (true|false) "true">
    <!ATTLIST property accessor CDATA "property">
    <!ATTLIST property managed-id (auto|true|false) "auto">
    <!ATTLIST property managed-id-index (no|un_tokenized) #IMPLIED>
    <!ATTLIST property managed-id-converter CDATA #IMPLIED>
    <!ATTLIST property exclude-from-all (true|false) "false">
    <!ATTLIST property converter CDATA #IMPLIED>
    <!ATTLIST property boost CDATA #IMPLIED>

<!ELEMENT boost (
    #PCDATA
)>
    <!ATTLIST boost name CDATA #REQUIRED>
    <!ATTLIST boost default CDATA #IMPLIED>
    <!ATTLIST boost accessor (field|property) "property">
    <!ATTLIST analyzer converter CDATA #IMPLIED>

<!ELEMENT analyzer (
    #PCDATA
)>
    <!ATTLIST analyzer name CDATA #REQUIRED>
    <!ATTLIST analyzer null-analyzer CDATA #IMPLIED>
    <!ATTLIST analyzer accessor (field|property) "property">
    <!ATTLIST analyzer converter CDATA #IMPLIED>

<!ELEMENT component EMPTY
>
    <!ATTLIST component name CDATA #REQUIRED>
    <!ATTLIST component ref-alias CDATA #IMPLIED>
    <!ATTLIST component override (true|false) "true">
    <!ATTLIST component max-depth CDATA #IMPLIED>
    <!ATTLIST component converter CDATA #IMPLIED>
    <!ATTLIST component accessor CDATA "property">
    <!ATTLIST component cascade CDATA  #IMPLIED>

<!ELEMENT reference EMPTY
>
    <!ATTLIST reference name CDATA #REQUIRED>
    <!ATTLIST reference ref-alias CDATA #IMPLIED>
    <!ATTLIST reference ref-comp-alias CDATA #IMPLIED>
    <!ATTLIST reference converter CDATA #IMPLIED>
    <!ATTLIST reference accessor CDATA "property">
    <!ATTLIST reference cascade CDATA  #IMPLIED>

<!ELEMENT parent EMPTY
>
    <!ATTLIST parent name CDATA #REQUIRED>
    <!ATTLIST parent converter CDATA #IMPLIED>
    <!ATTLIST parent accessor CDATA "property">
    <!ATTLIST parent cascade CDATA  #IMPLIED>

<!ELEMENT constant (
    meta-data,
    meta-data-value+
)>
    <!ATTLIST constant exclude-from-all (true|false) "false">
    <!ATTLIST constant override (true|false) "true">
    <!ATTLIST constant converter CDATA #IMPLIED>

<!ELEMENT dynamic-meta-data (
    #PCDATA
)>
    <!ATTLIST dynamic-meta-data name CDATA #REQUIRED>
    <!ATTLIST dynamic-meta-data store (no|yes|compress) "yes">
    <!ATTLIST dynamic-meta-data index (no|tokenized|un_tokenized) "tokenized">
    <!ATTLIST dynamic-meta-data term-vector (no|yes|positions|offsets|positions_offsets) "no">
    <!ATTLIST dynamic-meta-data omit-norms (true|false) "false">
    <!ATTLIST dynamic-meta-data override (true|false) "true">
    <!ATTLIST dynamic-meta-data reverse (no|reader|string) "no">
    <!ATTLIST dynamic-meta-data analyzer CDATA #IMPLIED>
    <!ATTLIST dynamic-meta-data exclude-from-all (true|false) #IMPLIED>
    <!ATTLIST dynamic-meta-data converter CDATA #REQUIRED>
    <!ATTLIST dynamic-meta-data boost CDATA #IMPLIED>
    <!ATTLIST dynamic-meta-data format CDATA #IMPLIED>
    <!ATTLIST dynamic-meta-data type CDATA #IMPLIED>

<!ELEMENT meta-data (
    #PCDATA
)>
    <!ATTLIST meta-data store (no|yes|compress) "yes">
    <!ATTLIST meta-data index (no|tokenized|un_tokenized) "tokenized">
    <!ATTLIST meta-data term-vector (no|yes|positions|offsets|positions_offsets) "no">
    <!ATTLIST meta-data omit-norms (true|false) "false">
    <!ATTLIST meta-data reverse (no|reader|string) "no">
    <!ATTLIST meta-data analyzer CDATA #IMPLIED>
    <!ATTLIST meta-data exclude-from-all (true|false) #IMPLIED>
    <!ATTLIST meta-data converter CDATA #IMPLIED>
    <!ATTLIST meta-data format CDATA #IMPLIED>
    <!ATTLIST meta-data boost CDATA #IMPLIED>

<!ELEMENT meta-data-value (
    #PCDATA
)>

<!ELEMENT sub-index-hash (
    setting*
)>
    <!ATTLIST sub-index-hash type CDATA #REQUIRED>

<!ELEMENT setting EMPTY
>
    <!ATTLIST setting name CDATA #REQUIRED>
    <!ATTLIST setting value CDATA #REQUIRED>
